<%- include('../partials/header'); -%>
<%- include('../partials/main_nav'); -%>
<p>Welcome to <%= title %></p>
<main class="container">
<div class="row">
    <div class="col-md-offset-3 col md-8">
        <h1><%= title %></h1>
        <%if(typeof displayName =='string' && displayName){%>
        <a href="/businessContactList/add" class="btn btn-primary" role="button">
            <i class ="fas fa-plus-circle"></i>Add a Contact</a>
            <%}%>
        <br>
        <table class = "table table-bordered table-striped table-hover">
            <tr>
                <th class="text-content col-2">Contact Name</th>
                <th class="text-content col-2">Contact Number</th>
                <th class="text-content col-1">Email Address</th>
                <%if(typeof displayName =='string' && displayName){%>
                <th class="text-content col-1"></th>
                <th class="text-content col-1"></th>
                <%}%>
                </tr>
           <% for(let count = 0; count<BusinessContactList.length; count++){ %>
            <tr>
                <td class = "text-center col-2"><%=BusinessContactList[count].name%></td>
                <td class = "text-center col-2"><%=BusinessContactList[count].number%></td>
                <td class = "text-center col-1"><%=BusinessContactList[count].email%></td>
                <%if(typeof displayName =='string' && displayName){%>
                <td class ="text-center col-1"><a href="/businessContactList/edit/<%=BusinessContactList[count]._id%>" class="btn btn-primary"><i class="fas fa-pencil-alt"></i>Edit</a></td>
                <td class ="text-center col-1"><a href="/businessContactList/delete/<%=BusinessContactList[count]._id%>" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Delete</a></td>    
            <%}%>
            </tr>
                <%}%>
            </table>

        </div>
    </div>
    </main>
<%- include('../partials/bottom_nav'); -%>
<%- include('../partials/footer'); -%>