<%- include('partials/header'); -%>
<%- include('partials/main_nav'); -%>
  
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <p>We are Timble Technologies - Technology in Action</p>

<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>