<%- include('partials/header'); -%>
<%- include('partials/main_nav'); -%>
  
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>Contact us using the following details: <br><b>Phone Number:222-3456-7865. <br>Email:ddf@yahoo.com.</b></p>

<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>