<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>
     
    <main class="container">
      <div class="container-fluid">
        <h1 class="display-6">Welcome to my <%=title%> Page</h1>
        <% if(title=="Home"){%>
          
          <br><br> <br><br>
          <%-include home.ejs%>


          
        <%}%>
        <% if(title=="About"){%>
            <%-include about.ejs%>
        <%}%>
        <% if(title=="Projects"){%>
          <%-include projects.ejs%>
            
        <%}%>
        <% if(title=="Services"){%>
          <%-include services.ejs%>
            
        <%}%>
        <% if(title=="Contact"){%>
          <%-include contact.ejs%>
            
        <%}%>


      </div>
    </main>


<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>

