<%- include('partials/header'); -%>
<%- include('partials/main_nav'); -%>
  
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>Our products are as follows:</p>

<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%> 

