<%- include('partials/header'); -%>
<%- include('partials/main_nav'); -%>
  
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>You need our services, Kindly go through the list below:</p>

<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>
