<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  
<!--content for the Add page-->
<div class = "container">
    <div class = "row">
        div class "offset-md-3 col-md-6"</div>
        <h1><%= title %></h1>
        <form class = "form" method="POST">
            <div class ="form group">
                <label for="nameTextField">Book Title</label>
                <input type="text" class="form control"
                id="nameTextField"
                placeholder="Enter the Book Title"
                name="name" required>
            </div>

            <div class ="form group">
                <label for="authorTextField">Author</label>
                <input type="text" class="form control"
                id="authorTextField"
                placeholder="Enter the Book's Author"
                name="author" required>
            </div>
            </form>
        </div>div>
    </div>

  
  
   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

